<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3">
    <div class="container">
        <a class="navbar-brand" href="../../index.html">
            <img src="../../images/logo.png" alt="فوكاس ليزر" class="navbar-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="../../index.html">الرئيسية</a></li>
                <li class="nav-item"><a class="nav-link" href="../about/page.html">عن الشركة</a></li>
                <li class="nav-item"><a class="nav-link" href="../catalog/page.html">الكتالوج</a></li>
                <li class="nav-item"><a class="nav-link" href="../academy/page.html">الأكاديمية</a></li>
                <li class="nav-item"><a class="nav-link" href="../contact-us/page.html">تواصل معنا</a></li>
            </ul>
            <div class="d-flex gap-2">
                <a href="../contact-us/page.html" class="btn btn-gold">تواصل معنا <i class="fa-solid fa-arrow-left me-2"></i></a>
            </div>
        </div>
    </div>
</nav>

